@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#355c7d, #6c5b7b, #c06c84);
}
.calculator-grid {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.calculator-keys {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(4, 100px);
}
.calculator-keys > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: #f3f3f3;
}
.calculator-keys > button:hover {
  background-color: #f3f3f35a;
}
.span2 {
  grid-column: span 2;
}

.screen {
  width: 404px;
  height: 100px;
  background-color: #f3f3f3;
  border: inherit;
  border-bottom: 2px;
  font-size: 3rem;
  text-align: right;
}
